{{template "include/header"}}

<p>
  <a href="/users">All Peeps</a>
</p>

<p>
  Peep:
  <ul>
    <li><i>{{.User.Name}}</i> at {{.User.Email}}</li>
  </ul>
</p>

<p>
  Update:<br />
  <form method="post" action="/user/{{.User.ID}}">
    <input name="name" type="text" placeholder="name" value="{{.User.Name}}" />
    <input name="email" type="text" placeholder="email" value="{{.User.Email}}"/>
    <input type="submit" />
  </form>
</p>

<a href="/user/{{.User.ID}}/delete">DELETE ME</a>

{{template "include/footer"}}

