
{{if len .Users}}
    {{range .Users}}
    {{template "user/fragment-row" .}}
    {{end}}

    <tr><td colspan="100" class="text-center border-bottom-0" >
        {{if .Pagination.NextPage}}
        <div hx-get="{{.Pagination.URI}}?page={{.Pagination.NextPage}}" 
             hx-target="closest tr" 
             hx-swap="outerHTML" 
             hx-trigger="revealed">Loading...</div>
        {{else}}
        End of list.
        {{end}}
    </td></tr>
{{else}}
<tr><td colspan="100" class="text-center border-bottom-0">No users found.</td></tr>
{{end}}
