{{template "include/header" .}}

<h3>Peeps</h3>
<p>
  <table class="table table-sm">
  <tbody>
    {{range .Users}}
    {{template "user/partial-user" .}}
    {{end}}
  </tbody>
  </table>
</p>

<h3>Create new user:</h3>
{{template "user/partial-form"}}

{{template "include/footer" .}}

