{{template "include/header" .}}

<h3>Create new user:</h3>
{{template "user/fragment-form"}}

<h3>Peeps</h3>
<form>
  <input name="page" value="1" type="hidden" />
  <input name="search" hx-get="/users.partial" hx-trigger="keyup changed delay:.5s" hx-target="#userlist" />
</form>
<p>
  <table class="table table-sm">
    <tbody id="userlist">
      <tr><td colspan="0">
        <div class="text-center" 
            hx-get="/users.partial?page=1" 
            hx-target="closest tr" 
            hx-swap="outerHTML" 
            hx-trigger="load">Loading...</div>
      </td></tr>
    </tbody>
  </table>

  <!-- <table class="table table-sm">
  <tbody id="userlist">
    {{if len .Users}}
      {{range .Users}}
      {{template "user/fragment-row" .}}
      {{end}}
    {{end}}
  </tbody>
  </table>
  {{template "include/paginate" .Pagination}} -->
</p>

{{template "include/footer" .}}
