{{template "include/header" .}}

<h3>Peep</h3>

<p>
  <table class="table table-sm">
  <tbody id="user">
  {{template "user/partial-user" .User}}
  </tbody>
  </table>
</p>

<h3>Update</h3>
{{template "user/partial-form" .User}}
<a class="btn btn-outline-danger" href="/user/{{.User.ID}}/delete">Delete User</a>

<style>
  td.delete { visibility: hidden; }
</style>
{{template "include/footer" .}}

