{{template "include/header"}}

<h3>Peep</h3>

<p>
  <table class="table table-sm">
  <tbody>
  {{template "user/partial-user" .User}}
  </tbody>
  </table>
</p>

<h3>Update</h3>
{{template "user/partial-form" .User}}
<p><a href="/user/{{.User.ID}}/delete">DELETE ME</a></p>

{{template "include/footer"}}

